%h1= t('app.ingredients.show')

%dl
  %dt= Ingredient.human_attribute_name(:describe)
  %dd= @ingredient.describe

= link_to 'Edit', edit_ingredient_path(@ingredient)
\|
= link_to 'Back', ingredients_path
