= form_for @dish_category do |f|
  = error_messages_for @dish_category
  .form-actions.bottom20
    = f.submit nil, class: 'btn btn-primary'

  = render 'dish_category', f: f

  .col-md-6
    .form-group
      = f.label :dish_category_id
      -# options_parent см dish_categories_helper.rb
      = f.select :dish_category_id, options_parent(@dish_category), {}, class: 'form-control'
