%h1= @dish_category.id

%dl
  %dt= DishCategory.human_attribute_name(:name)
  %dd= @dish_category.name
  %dt= DishCategory.human_attribute_name(:position)
  %dd= @dish_category.position

= link_to 'Edit', edit_dish_category_path(@dish_category)
\|
= link_to 'Back', dish_categories_path
