%h1= t('app.dishes.index')

%table.table.table-hover.table-striped.center
  %caption
    = link_to new_dish_path, class: 'btn btn-success' do
      = fa_icon :plus
      = t('buttons.new.dish')
  %thead
    %tr
      %th= Dish.human_attribute_name(:name)
      %th= Dish.human_attribute_name(:instruction)
      %th= Dish.human_attribute_name(:cooking_time)
      %th.p50
      %th.p50
      %th.p50

  %tbody
    - @dishes.each do |dish|
      %tr
        %td.center= dish.name
        %td.center= dish.instruction
        %td.center= dish.cooking_time
        %td
          = link_to dish, class: 'btn btn-success' do
            = fa_icon :eye
        %td
          = link_to edit_dish_path(dish), class: 'btn btn-info' do
            = fa_icon :edit
        %td
          = link_to dish, :method => :delete, :data => { :confirm => t('helpers.sure') }, class: 'btn btn-danger' do
            = fa_icon :times

%br

= link_to 'New Dish', new_dish_path
