=breadcrumb_tag do
  %li.active
    = t('headers.dishes.index')
  %li
    Поваренная книга

.page-header
  %h1= t('headers.dishes.index')

= link_to new_dish_path, class: 'btn btn-success' do
  = fa_icon :plus
  = t('buttons.new.dish')

.index_table
  .row
    .col-md-4.center= Dish.human_attribute_name(:name)
    .col-md-4.center= Dish.human_attribute_name(:instruction)
    .col-md-4.center= Dish.human_attribute_name(:cooking_time)

  - @dishes.each do |dish|
    .row
      .col-md-4.center= dish.name
      .col-md-4.center= dish.instruction
      .col-md-4.center.bottom20= dish.cooking_time
      .col-md-12.center
        = link_to dish, class: 'btn btn-warning' do
          = fa_icon :eye
          = t('buttons.show')
        = link_to edit_dish_path(dish), class: 'btn btn-info' do
          = fa_icon :edit
          = t('buttons.edit')
        = link_to dish, :method => :delete,
        data: { confirm: t('buttons.confirm.dish') },
        class: 'btn btn-danger' do
          = fa_icon :times
          = t('buttons.destroy')
