=breadcrumb_tag do
  %li.active
    = t('app.dishes.search')
  %li
    = link_to 'Блюда', dishes_path
  %li
    Блюда

.page-header
  %h3= t('app.dishes.search')

= form_tag search_dishes_path, method: 'get', remote: true do
  %h3 Поиск по полям блюд
  .row
    .col-md-6
      .form-group
        = label_tag Dish.human_attribute_name("name")
        = text_field_tag 'search[dish][name]', nil, class: 'form-control'
    .col-md-6
      .form-group
        = label_tag Dish.human_attribute_name("instruction")
        = text_field_tag 'search[dish][instruction]', nil, class: 'form-control'
  .row
    %fieldset
      %legend= Dish.human_attribute_name("cooking_time")
      .col-md-6
        .form-group
          = label_tag "search[dish][cooking_time_from]", t('.from')
          = number_field_tag "search[dish][cooking_time_from]", nil, class: 'form-control',
            value: Dish.pluck(:cooking_time).min
      .col-md-6
        .form-group
          = label_tag "search[dish][cooking_time_to]", t('.to')
          = number_field_tag "search[dish][cooking_time_to]", nil, class: 'form-control',
            value: Dish.pluck(:cooking_time).max
  %h3 Поиск по полям категорий
  .row
    .col-md-6
      .form-group
        = label_tag DishCategory.human_attribute_name("name")
        = text_field_tag 'search[dish_category][name]', nil, class: 'form-control'
  %h3 Поиск по полям ингредиентов
  .row
    .col-md-12
      .form-group
        = check_box_tag "search[ingredient][disable]"
        = label_tag "search[ingredient][disable]", t(".disable_ingredients")
  .row
    %fieldset
      %legend= DishesIngredient.human_attribute_name("n_ingredients")
      .col-md-6
        .form-group
          = label_tag "search[ingredient][n_ingredients_from]", t('.from')
          = number_field_tag "search[ingredient][n_ingredients_from]", nil, class: 'form-control',
            value: DishesIngredient.pluck(:n_ingredients).min
      .col-md-6
        .form-group
          = label_tag "search[ingredient][n_ingredients_to]", t('.to')
          = number_field_tag "search[ingredient][n_ingredients_to]", nil, class: 'form-control',
            value: DishesIngredient.pluck(:n_ingredients).max
  .row
    .col-md-6
      .form-group
        = label_tag Ingredient.human_attribute_name("describe")
        = text_field_tag 'search[ingredient][describe]', nil, class: 'form-control'

  .form-actions.bottom20
    = submit_tag nil, class: 'btn btn-primary'

#insert_found_dishes
  %p Не найдено
