%h1= @dish.id

%dl
  %dt= Dish.human_attribute_name(:name)
  %dd= @dish.name
  %dt= Dish.human_attribute_name(:instruction)
  %dd= @dish.instruction
  %dt= Dish.human_attribute_name(:cooking_time)
  %dd= @dish.cooking_time

= link_to 'Edit', edit_dish_path(@dish)
\|
= link_to 'Back', dishes_path
