%p#notice= notice

%dl
  %dt= DishesIngredient.human_attribute_name(:n_ingredients)
  %dd= @dishes_ingredient.n_ingredients

= link_to 'Edit', edit_dishes_ingredient_path(@dishes_ingredient)
\|
= link_to 'Back', dishes_ingredients_path
